/*
 * 概要  ：商品在庫マスタ管理システムのコンポーネントスタイルを定義
 * 作成  ：2025/02/12 FIS坂井
 * 更新  ：未実施
*/

/* ======================================
   全画面で汎用的なコンポーネントスタイル
   ====================================== */
/* 検索窓や入力欄などコンポーネントが入るエリア */
.contentsArea{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

/* 検索窓や入力欄などコンポーネントエリア名 */
.contentsArea_name{
  margin-left: 5px;
  font-size: 20px;
}

/* 検索窓や入力欄などが入る白ボックス */
.contentsArea_contentsBox{
  border: 1px solid #A6A6A6;
  padding: 20px;
  background-color: #ffffff;
  font-size: 15px;
  margin-top: -1px;
}

/* 参照情報選択コンテンツエリア */
.refComponent{
  position: relative;
  display: flex;
}

/* 注意書きスタイル */
.comment_warning{
  font-size: 13px;
  color: #2a2a2b;
}

/* 複数行テキスト入力ボックススタイル */
.box_longText{
  width: 700px;
  height: 150px;
  font-size: 18px;
  padding: 10px;
}

/* 年月選択エリア・ボックススタイル */
.ymSelectorArea {
  display: flex;
  gap: '10px';
  align-items: center;
}

.box_yearSelect {
  width: 100px;
  height: 40px;
  font-size: 15px;
  padding: 10px;
  margin-right: 8px;
}

.box_monthSelect {
  width: 70px;
  height: 40px;
  font-size: 15px;
  padding: 10px;
  margin-left: 8px;
  margin-right: 8px;
}

/* inputボックススタイル */
.inputBox_short {
  width: 100px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
}

.inputBox_middle {
  width: 250px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
}

.inputBox_long {
  width: 500px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
}

/* selectボックススタイル */
.selectBox_short {
  width: 70px;
  height: 40px;
  font-size: 15px;
  padding: 10px;
}

.selectBox_middle {
  width: 200px;
  height: 40px;
  font-size: 15px;
  padding: 10px;
}

.selectBox_long {
  width: 350px;
  height: 40px;
  font-size: 15px;
  padding: 10px;
}