html,
body {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1.6;
  font-size: 30px;
  background-color: #ffffff;
  color: #333;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

select {
  width: 350px;
  height: 40px;
  font-size: 15px;
  padding: 10px;
}

input {
  width: 500px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
}

h2 {
  margin-top: 10px; /* 上のマージンをリセット */
  margin-bottom: 10px; /* 下のマージンを20pxに設定 */
}