html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: #000000;
  background: #d6d4d4;
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  display: block;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}